.form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 9px;
}

.form__btn {
  padding: 9px 13px;
  border-radius: 22px;
  background-color: #6A8C20;
  border: none;
  color: #fff;
}

.form__input {
  width: 100%;
  padding: 10px;
  border: none;
}

.form__input::placeholder {
  text-align: center;
}
